@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
}
a:hover {
      opacity: .7;
      transition: ease-in-out 0.21s
}

.margins {
  
}